# Env files
.env.production
.env.test
.env.local
.env

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/
dist/
*.egg-info/
.venv/
venv/

# Docker
*.log

# OS
.DS_Store
Thumbs.db
